<!--<div class="container">
Dear <%= @order.name %>

Thank you for your recent order from The Depot Shop.

You ordered the following items:

<%#= render @order.line_items %>

We'll send you a separate email when your order ships.
</div>-->

Order#recieved

<%= @order %>, find me in app/views/order_mailer/recieved.text.erb
